In [2]:
import pandas as pd
import numpy as np

In [3]:
from selenium import webdriver

In [14]:
!pip install chromedriver_binary

Requirement already satisfied: chromedriver_binary in /opt/miniconda3/lib/python3.13/site-packages (139.0.7241.0.0)

In [4]:
import chromedriver_binary

In [5]:
chromedriver_binary.chromedriver_filename

'/opt/miniconda3/lib/python3.13/site-packages/chromedriver_binary/chromedriver'

In [24]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Collecting beautifulsoup4 (from bs4)
  Downloading beautifulsoup4-4.13.4-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Downloading soupsieve-2.7-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /opt/miniconda3/lib/python3.13/site-packages (from beautifulsoup4->bs4) (4.13.2)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Downloading beautifulsoup4-4.13.4-py3-none-any.whl (187 kB)
Downloading soupsieve-2.7-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.13.4 bs4-0.0.2 soupsieve-2.7

In [239]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
import time
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm

# Setup
chrome_path = "/Users/soniya/VSCode-Backup/chromedriver"

# Add executable permission (optional, but safe)
import os
os.chmod(chrome_path, 0o755)

# Configure service and options
service = Service(chrome_path)
options = Options()

# Keep the browser open after script ends
options.add_experimental_option("detach", True)

# Launch the browser
driver = webdriver.Chrome(service=service, options=options)

In [242]:
data =[]

for page in tqdm (range(1,4001)):
    link= 'https://www.naukri.com/data-analyst-jobs-in-india-' + str(page)
    driver.get(link)
    res=requests.get(link)
    time.sleep(2)
    soup=BeautifulSoup(driver.page_source,'html.parser')
    for job in soup.find_all('div',class_='srp-jobtuple-wrapper'):
        try:
            title=(job.find('a',class_='title').text)
        except:
            title=np.nan
        try:    
            job_link=job.find('a',class_='title').get('href')
        except:
            title=np.nan    
        try:
            stars=(job.find('span',class_='main-2').text)
        except:
            stars=np.nan
        try:
            company=(job.find('a' ,class_="comp-name mw-25")).text
        except:
            company=np.nan
        try:
            reviews=(job.find_all('a', class_='review ver-line')[-1].text.split()[0])

        except:
            reviews=np.nan
        try:
            experience= job.find('span',class_='ni-job-tuple-icon ni-job-tuple-icon-srp-experience exp').text
        except:
            experience=np.nan
        try:
            location=   job.find('span',class_='ni-job-tuple-icon ni-job-tuple-icon-srp-location loc').text
        except:
            location=   np.nan
        try:
            skills= ([skill.text for skill in job.find_all('li',class_='dot-gt tag-li')])
        except:
            skills= np.nan
        
        try:
            posted =    job.find('span',class_='job-post-day').text
        except:
            posted =    np.nan
    

        data.append([title,job_link,stars,company,reviews,experience,location,skills,posted])

100%|██████████| 4000/4000 [2:41:28<00:00,  2.42s/it]

In [244]:
df=pd.DataFrame(data,columns=['title','job_link','stars','company','reviews','experience','location','skills','posted'])

In [245]:
df.to_csv('Jobs.csv',index=False)

In [246]:
len(df)

47734

In [247]:
df.head()

,title,job_link,stars,company,reviews,experience,location,skills,posted
0,Data Analyst,https://www.naukri.com/job-listings-data-analy...,4.1,Sparta Systems,13,NaN,Bengaluru,[],Starts in 1-3 months
1,Data Analyst,https://www.naukri.com/job-listings-data-analy...,4.2,Target,744,2-6 Yrs,Bengaluru,"[guest service, python, sql, ms office package...",1 week ago
2,Data Analyst - Immediate Hiring,https://www.naukri.com/job-listings-data-analy...,3.5,Simply Vyapar Apps,424,2-4 Yrs,Bengaluru(HSR Layout),"[data analysis, SQL, data models, database des...",Today
3,Data Analyst I,https://www.naukri.com/job-listings-data-analy...,3.1,Solera,120,2-7 Yrs,Bengaluru,"[Ticketing, Automation, Excel, Analytical, Tro...",2 days ago
4,Data Analyst I,https://www.naukri.com/job-listings-data-analy...,4.7,Spireon,7,2-7 Yrs,Bengaluru,"[Ticketing, Automation, Excel, Analytical, Tro...",2 days ago

In [249]:
df.isnull().sum()

title            0
job_link         0
stars         7706
company       7706
reviews       7706
experience     344
location         0
skills           0
posted           0
dtype: int64